.mediavideo__duration {
  font-size: .8rem;
  text-align: right;
}
.mediavideo__duration em,
.mediavideo__duration i {
  line-height: 2rem;
  vertical-align: middle;
}

/* lock CKeditor on scroll if there's focus on the item */
body.page-node-edit.node-type-page .cke_focus .cke_top{
  top: 2.8rem;
  z-index: 10000;
  position: fixed;
  margin: 0 0 0 -.25rem;
  padding: .25rem 1.25rem .25rem 0;
  background-color: #F5F5F5;
  border: .1rem solid #222222;
  transition: all .3s;
}

.r-header {
  padding: 0;
  margin: 1.5rem 0 0 0;
}

.etb-book .is-sticky > .r-header {
  padding: 0;
  margin:0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.elmsln-content-wrap {
  margin-top: 1.5rem;
}

/* ensure print view is better then defaults */
@page {
  size:8.5in 11in;
  margin: .1in;
}

#elmsln-tools-menu li .nolink {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-bottom: .2rem solid;
}

/* Example card */
.egletter p {
  position:relative;
  z-index:3;
  line-height:1.5rem;
}

.egletter ul {
  position:relative;
  z-index:3;
  line-height:1.5rem;
}

.egletter h2,
.egletter h3,
.egletter h4,
.egletter h5,
.egletter h6 {
  font-family: cursive;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  line-height: 4rem;
}

.egletter h2 i,
.egletter h3 i,
.egletter h4 i,
.egletter h5 i,
.egletter h6 i {
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
  margin-right: .5rem;
  line-height: 2rem;
  padding: 0 .25rem;
}

.egletter h2 span,
.egletter h3 span,
.egletter h4 span,
.egletter h5 span,
.egletter h6 span {
  line-height: 4rem;
}

.egletter {
  margin: 1.5rem auto 0;
  min-height: 10rem;
  padding: .75rem 1.5rem;
  position: relative;
  width: 80%;
  z-index:4;
  margin-bottom: 3rem;
}
.egletter:before, .egletter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.egletter:before {
  background: #fafafa;
  box-shadow: 0 0 .5rem rgba(0,0,0,0.2);
  left: -.2rem;
  top: .2rem;
  transform: rotate(-2.5deg);
}
.egletter:after {
  background: #ffffff;
  box-shadow: 0 0 .2rem rgba(0,0,0,0.2);
  right: -.2rem;
  top: .1rem;
  transform: rotate(1.4deg);
}

/* heading lines / icon styles backported from Buttercups */
.hrlines {
  overflow: hidden;
  color:black !important;
  text-align:center !important;
}
.hrlines i.material-icons,
.hrimg {
  width: 2rem;
  font-size: 1.25rem;
  line-height: 2rem;
  height: 2rem;
}
.hrlines span{
  position: relative;
  font-weight: 300;
}
.hrlines span:before,
.hrlines span:after {
  content: "";
  position: absolute;
  height: .1rem;
  border-top: .1rem solid black;
  width: 200rem;
  margin-top:1.25rem;

}
.hrlines span:before {
  right: 100%;
  margin-right: 1rem;
}
.hrlines span:after {
  left: 100%;
  margin-left: 1rem;
}

.etb-book h1.headinglines,
.etb-book h2.headinglines,
.etb-book h3.headinglines,
.etb-book h4.headinglines,
.etb-book h5.headinglines,
.etb-book h6.headinglines {
  overflow: hidden;
  margin-bottom:.5rem;
  font-weight: 300;
  text-align:center;
}
.headingicon {
  overflow: hidden;
  font-weight: 300;
  margin-bottom:.5rem;
  padding-top:.25rem 0;
  line-height: 2rem;
}
.headinglines span {
  position: relative;
}
.headinglines span:before,
.headinglines span:after{
  content: "";
  position: absolute;
  top: 50%;
  height: .4rem;
  border-top: .1rem solid black;
  width: 200rem;
}
.headinglines span:before {
  right: 100%;
  margin-right: .5em
}
.headinglines span:after {
  left: 100%;
  margin-left: .5em;
}
@media (max-width: 80frem) {
  .headinglines span:before {
    visibility: hidden;
  }
  .headinglines span:after {
    visibility: hidden;
  }
}

/* special accounting for H5P elements */
.h5p-multichoice .h5p-radio-or-checkbox {
  line-height: 1.3rem;
}

@media (max-width: 80rem) {
  .btn-floating.btn-large {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
  .btn-floating.btn-large i {
    line-height: 2rem;
  }
}

/* support shifting highlighted block region off to left column on big displays */
@media screen and (min-width: 80rem) {
  .highlighted-block-area {
    position: absolute;
    right: 92%;
    width: calc(55vw - 50%);
    max-width: 20rem;
    min-width: 10rem;
    top: 0;
  }
  .views-exposed-form {
    position: absolute;
    right: 100%;
    width: calc(54vw - 60%);
    max-width: 20rem;
    min-width: 10rem;
    top: 4rem;
    background-color: #EEEEEE;
    padding: .5rem;
    border: .1rem solid;
  }
  .r-local-subheader .views-exposed-form {
    right: 92%;
    width: calc(55vw - 50%);
  }
  .views-exposed-form .views-exposed-widget {
    float: unset;
  }
  .views-exposed-form ul {
    margin: 0;
  }
}


/* Helps in the event the internet isn't there */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.elmsln-error-page {
  font-size: 2rem;
  line-height: 4rem;
}

.error-page-hal9000 {
  filter:saturate(1) invert(1);
  transform: scale(.95, .95);
  transition: 3s ease;
}

.error-page-hal9000.on {
  filter:saturate(10) invert(.9);
  transform: scale(1, 1);
}

.colorpicker {
  z-index: 10000;
}
article ul:not(.contextual-links):not(.collapsible):not(.browser-default):not(.dropdown-content):not(.h5p-answers):not(.table-of-contents):not(.menu) li,
.ckeditor-edit-body ul:not(.contextual-links):not(.collapsible):not(.browser-default):not(.dropdown-content):not(.h5p-answers):not(.table-of-contents):not(.menu) li {
  list-style-type: disc;
  list-style-position: outside;
}

.material-icon.elmsln-icon:before {
  content:"";
}

.contextual-container-left div.contextual-links-wrapper {
  position: relative;
  margin-left: -2rem;
}
.contextual-container-left div.custom-contextual-links {
  float: left;
}

#etb-course-nav .top-bar-section.title-link li a.active-trail {
  background-color: #eeeeee;
}

#etb-course-nav .top-bar {
  height: 3.2rem;
}

.etb-book dl {
  margin: 0;
}

/* flyout sizing */
input.cis_shortcodes_embed,
.entity_iframe_embed {
  font-size: .6rem;
  line-height: 1rem;
}

/* elmsln-icon padding to right of font icon */
.elmsln-icon.left {
  margin-right: .4rem;
}
/* in context modal buttons */
.elmsln-filter-tpl-modal,
.elmsln-filter-tpl-side-nav {
  height: 2.5rem;
  line-height: 2.5rem;
}

/* save form state */

#autosave-status {
  width: 35%;
  height: 4.5em;
  background-color: #0074BD;
  padding: 1rem;
  z-index: 100;
}
#autosave-status #status {
  margin-left: 1rem;
  width: 100%;
  height: 5rem;
  line-height: 1rem;
}

@media screen and (max-width: 50rem) {
  #autosave-status {
    width: 100%;
    height: 3rem;
    padding: .5rem .5rem 0 0;
    font-size: .7rem;
  }
}
/* Core in context items */
.elmsln-core-in-context-hover {
  border-right-style: solid;
  margin-right: -.2rem;
}

/* hide attribution on map since it has a link that could confuse students easily */
.leaflet-control-attribution {
  display:none;
}

/* user profile */
.user-profile--wrapper {
  width: 100%;
}
.user-profile--banner {
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  height: 10rem;
  max-height: 12rem;
  z-index: 1;
}
.user-profile--banner img {
  display: block;
  top: 0;
  position: fixed;
  z-index: 0;
  pointer-events: none;
  width: 100%;
}
.user-profile--photo--wrapper {
  margin: -8rem auto 1rem;
  text-align: center;
  z-index: 2;
  position: relative;
}
.user-profile--photo {
  margin: 0 auto;
  width: 20%;
}
.user-profile--photo img {
  background-color: #FFFFFF;
  padding: .5rem;
  height: 12.5rem;
  width: 12.5rem;
}
.user-profile--name {
  text-align: center;
  font-size: 1rem;
}

/* Font normalization */
body, p a, p p a, h1,h2,h3,h4,h5,h6,p,p strong,strong,p b, b, #etb-course-nav span.course-title, .alert-box, #etb-tool-nav .tab-bar span, ul.off-canvas-list li a, .etb-book ul, .etb-book ol, .etb-book dl, .etb-nav-modal ul li a, a.etb-nav_item_service_btn span, a.etb-modal-icon span, a.modal-img-link span, .etb-nav-modal h2, #admin-menu .dropdown li li a, .admin-status-bar span.course-section-label, .admin-status-bar span.user-role-label, .admin-status-bar span.current-user-id-label, h2, a, p.txtbk-intro, p.txtbk-intro a, .section-id, .accordion .accordion-navigation > a, .accordion dd > a, .sub-tier-1 h2, .sub-tier-1 h3, footer p, .admin-status-bar span.course-section, .admin-status-bar span.user-role, .admin-status-bar span.current-user-id, h1, .image-media h3, h4.testimonial-name, #etb-course-nav span.course-abrv, .etb-nav-modal h1 {
  font-family: "Roboto", sans-serif;
}
h1,h2,h3,h4,h5,h6,p, #etb-course-nav span.course-title, .alert-box, #etb-tool-nav .tab-bar span, ul.off-canvas-list li a, .etb-book ul, .etb-book ol, .etb-book dl, .etb-nav-modal ul li a, a.etb-nav_item_service_btn span, a.etb-modal-icon span, a.modal-img-link span, .etb-nav-modal h2, #admin-menu .dropdown li li a, .admin-status-bar span.course-section-label, .admin-status-bar span.user-role-label, .admin-status-bar span.current-user-id-label, h2, a, p.txtbk-intro, p.txtbk-intro a, .section-id, .accordion .accordion-navigation > a, .accordion dd > a, .sub-tier-1 h2, .sub-tier-1 h3, footer p, .admin-status-bar span.course-section, .admin-status-bar span.user-role, .admin-status-bar span.current-user-id, h1, .image-media h3, h4.testimonial-name, #etb-course-nav span.course-abrv, .etb-nav-modal h1 {
  font-weight: normal;
}
/* CKEditor template page */
.cke_tpl_list {
  height: 25rem !important;
}
.ck-tpl-item-button {
  height: 10rem !important;
  position: relative;
  text-decoration: none !important;
}
.cke_tpl_item_wrapper {
  height: 10rem !important;
  background-color: #eeeeee !important;
  border:1px solid #222222 !important;
  overflow: hidden;
}
.cke_tpl_item_wrapper:hover {
  background-color: #ccccff !important;
  border:1px solid #ffa !important;
}
.cke_tpl_item_wrapper * {
  position: relative;
  white-space: normal !important;
}
.ck-tpl-item-button * {
  text-align: center;
}

.cke_tpl_preview {
  width: initial;
  position: relative;
}

/* fix for ckeditor templates in firefox */
img.cke_tpl_preview_img {
  width: 150px;
}
.cke_dialog_ui_vbox_child {
  height: 10rem;
}
.cke_dialog_contents {
  width: 100%;
}

/* Network flyout spacing */
.elmsln-network-label {
  margin-left: .75rem;
}
.elmsln-network-icon {
  padding: 0 .25rem;
}

/* format pre tags */
pre {
  display: block;
  padding: 0;
  margin: 0;
  font-size: .8rem;
  line-height: 1.2rem;
  word-break: break-all;
  word-wrap: break-word;
  color: #444444;
  background-color: #f5f5f5;
  overflow: auto;
}

/* collection with accordian stacked in it in lrs display */
.elmsln-core-lrs-data-display .collection .collapsible,
.elmsln-core-lrs-data-display .collection .collapsible li {
  margin-left: 0;
}
article .collection .collection-item .badge,
.ckeditor-edit-body .collection .collection-item .badge {
  width: 2rem;
}
/* link support in collapsible headers */
ul.collapsible li {
    list-style-type: none;
}
.collapsible-action-link {
  padding: 0 .25rem;
  line-height: 1rem;
  font-size: .8rem;
  margin: 0;
  text-align: right;
  float: right;
}
/* tweak for materializeCSS progress bar to better support text in it */
.progress .determinate {
  line-height: 1.5rem;
  text-align: right;
  padding-right: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

/* Devel debug things */
body .devel-querylog {
 display: none;
}
body.devel-show .devel-querylog {
 display: block;
 overflow: visible;
}
.dev-query {
 cursor: pointer;
 padding: .5rem .25rem 7rem;
 line-height: 1rem;
 z-index: 0;
}
.dev-query:hover {
 outline-width: .2rem;
 outline-style: solid;
}

/* Materialize header */
.subheader {
  font-size: 1.5rem;
}

/* basic gallery style */
.elmsln-basic-gallery-list .col {
  margin:2rem auto;
}
.elmsln-gallery-image-link {
  padding: 0.25rem 0;
}

/* in page nav */
.r-header__left {
  width: 100%;
}
.r-header__left .tabs li {
  width: unset;
  min-width: 120px;
}

.r-local-header-wrapper.row {
  margin: 0;
}

/* Materialize tab modifications */
.tabs .tab a {
  line-height: 3rem;
}
.tabs .tab a:hover {
  border-bottom-style: solid;
  border-bottom-width: .2rem;
}
.tabs .tab a.active {
  border-bottom-style: solid;
  border-bottom-width: .2rem;
}
.elmsln-tabs.tabs .indicator {
  height: 0;
}
/* cis lmsless nav */
.left-nav-section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -.6rem;
}
.left-nav-section li {
  display: inline-block;
  margin: .2rem 0 0 0;
  padding: 0;
  height: 3.4rem;
  line-height: 3.4rem;
  min-width: 3.4rem;
}
nav ul.left-nav-section a {
  padding: 0 .5rem;
  height: 3.2rem;
  line-height: 3.2rem;
  min-width: 3.2rem;
}
nav ul.left-nav-section a span {
  margin: 0 .5rem;
}
nav ul.left-nav-section a i,
nav ul.left-nav-section a div,
nav ul.left-nav-section a img {
  font-size: 1.6rem;
  height: 3.2rem;
  line-height: 3.2rem
}

nav ul.left-nav-section .elmsln-user-profile-menu-item img {
  height: 1.6rem;
  width: 1.6rem;
}

#etb-course-nav .icon--dropdown {
  margin: -.3rem 0 0 0.2rem;
}

/* Avoid .progress conflict with materialize */
.page-scroll.progress {
  border-radius: 0;
}
/* System badge */
.elmsln-system-badge {
  position: fixed;
  z-index: 5;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
  top: 0;
  left: 0;
}
@media screen and (max-width: 600px) {
  .elmsln-system-badge {
    transform:scale(.5,.5);
  }
}
@media screen and (min-width: 600px) {
  .elmsln-system-badge {
    transform:scale(.75,.75);
  }
}
@media screen and (min-width: 992px) {
  .elmsln-system-badge {
    transform:scale(1,1);
  }
}
@media screen and (min-width: 1200px) {
  .elmsln-system-badge {
    transform:scale(1,1);
  }
}

.elmsln-system-badge .elmsln-badge {
  height: 2rem;
  width: 2rem;
  position: absolute;
  margin: .75rem 1rem;
  z-index: 4;
  font-size: 2.5rem;
  line-height: 2rem;
}
.elmsln-system-badge .elmsln-badge-middle-name {
  position: absolute;
  margin: 0 0 0 4.25rem;
  height: 2.8rem;
  border-top-width: .2rem;
  border-bottom-width: .2rem;
  border-right-width: .2rem;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  line-height: 2.5rem;
  padding: 0 1rem;
  font-size: .8rem;
  white-space: nowrap;
  box-shadow: 5px 20px 30px 0 rgba(0,0,0,0.2);
  z-index: 2;
}

.elmsln-system-badge .elmsln-badge-inner {
  position: absolute;
  z-index: 3;
  width: 5rem;
  height: 5rem;
  margin: .2rem;
}

.elmsln-system-badge .elmsln-badge-inner .elmsln-badge-middle {
  width: 4.1rem;
  height: 2.4rem;
  position: relative;
  z-index: 10;
}
.elmsln-system-badge .elmsln-badge-inner .elmsln-badge-bottom {
  width: 0;
  border-top-width: 1.2rem;
  border-top-style: solid;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  position: relative;
}

.elmsln-system-badge .elmsln-badge-outer {
  position: absolute;
  z-index: 2;
}

.elmsln-system-badge .elmsln-badge-outer .elmsln-badge-middle {
  width: 4.5rem;
  height: 2.7rem;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2),0 0px 30px 0 rgba(0,0,0,0.4);
}
.elmsln-system-badge .elmsln-badge-outer .elmsln-badge-bottom {
  width: 0;
  border-top-width: 1.35rem;
  border-top-style: solid;
  border-left: 2.25rem solid transparent;
  border-right: 2.25rem solid transparent;
}


/* etb / app.css conflcting with materialize menu */
ul.dropdown-content ul {
  margin: 0;
}
.dropdown-content li {
  min-height: initial;
}
.dropdown-content li > a,
.dropdown-content li > span {
    font-size: 1rem;
    line-height: 1rem;
    padding: .5rem;
}
ul.dropdown-content li:not(.has-form) a:not(.button) {
  color: #333333;
}
.dropdown-content li:hover,
#etb-course-nav .top-bar-section.title-link ul li ul li.leaf:hover {
  background-color: #eeeeee;
}
.dropdown-content li {
  background-color: #ffffff;
}
.dropdown-content li a {
  background-color: transparent;
  line-height: 2.5rem;
  height: 2.5rem;
  padding: 0 0 0 .5rem !important;
  display: block;
  font-weight: normal;
}
ul.dropdown-content.book-sibling-children {
  max-height: 20rem;
  min-width: 12rem;
}
ul.dropdown-content .button-group > li {
  display: block;
  margin: 0;
}
.top-bar-section ul li > a {
  font-size: 1rem;
  font-weight: normal;
}

.dropdown-content li span.cis_accessibility_check {
  margin:0;
  padding: 0;
}

/* materialize dropdown modifications */
ul.dropdown-content {
  display: none;
  margin: 0;
  overflow-x: hidden;
  border: .1rem solid #eeeeee;
}

/* materialize paralax modifications */
.parallax-container {
  height: 6rem;
}

/* header banner image falling under the content */
.header-image-container {
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  height: 8rem;
  min-height: 8rem;
  z-index: 1;
}
@media screen and (max-width: 600px) {
  .header-image-container {
    height: 3rem;
    min-height: 3rem;
  }
}
@media screen and (min-width: 600px) {
  .header-image-container {
    height: 4rem;
    min-height: 4rem;
  }
}
@media screen and (min-width: 800px) {
  .header-image-container {
    height: 5rem;
    min-height: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .header-image-container {
    height: 6rem;
    min-height: 6rem;
  }
}
@media screen and (min-width: 1200px) {
  .header-image-container {
    height: 8rem;
    min-height: 8rem;
  }
}
.header-image-container img {
  display: block;
  top:0;
  min-height: 3rem;
  height: auto;
  max-width: 100%;
  position: fixed;
  z-index: 0;
  clip: rect(auto, auto, 8rem, auto);
}

/* Materialize Waves additional colors */
.waves-effect.waves-blue .waves-ripple {
  /* The alpha value allows the text and background color of the button to still show through. */
  background-color: rgba(187, 222, 251, 0.65);
}
.waves-effect.waves-amber .waves-ripple {
  background-color: rgba(255, 236, 179, 0.65);
}
.waves-effect.waves-lime .waves-ripple {
  background-color: rgba(240, 244, 195, 0.65);
}
.waves-effect.waves-deep-orange .waves-ripple {
  background-color: rgba(255, 204, 188, 0.65);
}
.waves-effect.waves-light-blue .waves-ripple {
  background-color: rgba(179, 229, 252, 0.65);
}
.waves-effect.waves-pink .waves-ripple {
  background-color: rgba(248, 187, 208, 0.65);
}
.waves-effect.waves-light-green .waves-ripple {
  background-color: rgba(220, 237, 200, 0.65);
}

/* consistend focus state presentation */
a:focus,
i:focus,
li:focus,
button:focus,
input[type=file]:focus,
.btn:focus {
  outline-style: solid;
  outline-width: .1rem;
  outline-color: #2962ff;
}

button:focus,
input[type=file]:focus,
.btn:focus {
  outline-width: .3rem;
}
/* Materialize Outline classes */
.indigo-outline {
  outline-color: #3f51b5 !important;
}
.blue-outline {
  outline-color: #2962ff !important;
}
.amber-outline {
  outline-color: #ffab00 !important;
}
.green-border {
  outline-color: #4caf50 !important;
}
.teal-outline {
  outline-color: #00bfa5 !important;
}
.yellow-outline {
  outline-color: #ffd600 !important;
}
.grey-outline {
  outline-color: #212121 !important;
}
.cyan-outline {
  outline-color: #00b8d4 !important;
}
.orange-outline {
  outline-color: #ff6d00 !important;
}
.red-outline {
  outline-color: #d50000 !important;
}
.deep-orange-outline {
  outline-color: #dd2c00 !important;
}
.lime-outline {
  outline-color: #aeea00 !important;
}
.pink-outline {
  outline-color: #c51162 !important;
}
.purple-outline {
  outline-color: #aa00ff !important;
}
.light-green-outline {
  outline-color: #64dd17 !important;
}
.light-blue-outline {
  outline-color: #01579b !important;
}
.white-outline {
  outline-color: #ffffff !important;
}

/* Materialize Border classes */
.indigo-border {
  border-color: #3f51b5;
}
.blue-border {
  border-color: #2196F3;
}
.amber-border {
  border-color: #ffc107;
}
.green-border {
  border-color: #4caf50;
}
.teal-border {
  border-color: #009688;
}
.yellow-border {
  border-color: #ffeb3b;
}
.grey-border {
  border-color: #9e9e9e;
}
.cyan-border {
  border-color: #00bcd4;
}
.orange-border {
  border-color: #ff9800;
}
.red-border {
  border-color: #f44336;
}
.deep-orange-border {
  border-color: #ff5722;
}
.lime-border {
  border-color: #cddc39;
}
.pink-border {
  border-color: #e91e63;
}
.purple-border {
  border-color: #9c27b0;
}
.light-green-border {
  border-color: #8bc34a;
}
.light-blue-border {
  border-color: #03a9f4;
}
.white-border {
  border-color: #ffffff;
}
/* Materialize accessible text variants */
.accessible-indigo-text {
  color: #1a237e !important;
}
.accessible-green-text {
  color: #1b5e20 !important;
}
.accessible-purple-text {
  color: #581663 !important;
}
.accessible-cyan-text {
  color: #006064 !important;
}
.accessible-blue-text {
  color: #085390 !important;
}
.accessible-deep-orange-text {
  color: #a72700 !important;
}
.accessible-red-text {
  color: #a41309 !important;
}
.accessible-amber-text {
  color: #833900 !important;
}
.accessible-teal-text {
  color: #00554d !important;
}
.accessible-orange-text {
  color: #653c00 !important;
}
.accessible-yellow-text {
  color: #463f00 !important;
}
.accessible-lime-text {
  color: #474d0e !important;
}
.accessible-light-blue-text {
  color: #025277 !important;
}
.accessible-light-green-text {
  color: #3c571d !important;
}
.accessible-pink-text {
  color: #9d0f3f !important;
}
.accessible-grey-text {
  color: #212121 !important;
}
/* Special class to highjack accessible varients on hover */
.hover-white-text,
.elmsln-network-icon.hover-white-text {
  color: #FFFFFF !important;
}
.hover-black-text,
.elmsln-network-icon.hover-black-text {
  color: #222222 !important;
}
/* Materialize Selecton classes */
.blue-selection ::selection {
  background: #e3f2fd;
  color: #222222;
}
.amber-selection ::selection {
  background: #fff8e1;
  color: #222222;
}
.teal-selection ::selection {
  background: #e0f2f1;
  color: #222222;
}
.yellow-selection ::selection {
  background: #fffde7;
  color: #222222;
}
.grey-selection ::selection {
  background: #e0e0e0;
  color: #222222;
}
.cyan-selection ::selection {
  background: #e0f7fa;
  color: #222222;
}
.orange-selection ::selection {
  background: #fff3e0;
  color: #222222;
}
.red-selection ::selection {
  background: #ffebee;
  color: #222222;
}
.deep-orange-selection ::selection {
  background: #ffccbc;
  color: #222222;
}
.lime-selection ::selection {
  background: #f9fbe7;
  color: #222222;
}
.green-selection ::selection {
  background: #e8f5e9;
  color: #222222;
}
.pink-selection ::selection {
  background: #fce4ec;
  color: #222222;
}
.purple-selection ::selection {
  background: #f3e5f5;
  color: #222222;
}
.light-green-selection ::selection {
  background: #f1f8e9;
  color: #222222;
}
.light-blue-selection ::selection {
  background: #e1f5fe;
  color: #222222;
}

/* form override for core and materialize */
.container-inline div, .container-inline label {
  display: block;
}
.input-field label {
  color:#515151;
}

/* top bar profile divider */
.left-nav-section li.divider-right {
  border-right-width: 0.15rem;
  border-right-style:solid;
  padding: 0;
  min-width: 0;
  margin: 0.6rem 0;
  width: 0.2rem;
  height: auto;
}

/* CIS filter / submit widget */
.horizontal .card-image {
  min-width: 25%;
}

/* tweaks to side-nav padding / structure */
.side-nav a.btn-flat {
   padding: 10px 15px;
   margin: 0;
   line-height: 2rem;
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
  height: 3rem;
  line-height: 3rem;
  margin: 0 2rem 0 0;
  width: 1.5rem;
}

.side-nav a {
  color: #222222;
  display: block;
  font-size: .9rem;
  font-weight: normal;
  height: 3rem;
  line-height: 3rem;
  padding: 0 .5rem 0 1rem;
}

.side-nav a span {
  line-height: 3rem;
  height: 3rem;
  padding: 0;
}

.side-nav .divider {
  margin: 0;
}
.side-nav .userView {
  padding: 2rem;
  margin: 0;
  overflow: hidden;
}
.side-nav .userView a {
  height: 1rem;
}

.collapsible-header-trigger {

}
.collapsible-header-trigger:hover {
  background-color: initial;
}

.collapsible-body p{
  padding: 0;
}

.collapsible-body .elmsln-collapsible-body {
  padding: 2rem;
}

.collapsible-body .elmsln-collapsible-body .a11y-textsize-controls a {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.form-item .description {
  margin: 0;
  padding: 0 1rem .5rem 1rem;
  font-size: .8rem;
  line-height: 1rem;
}

/* Page tweaks to undo our app.css stuff */
ul.pagination li {
  float: none;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
ul.pagination li a {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  padding: 0;
}
table.sticky-header {
  z-index: 1;
  top: 3rem !important;
}

/* Admin menu tweaks to get things at the right height in the document */
#admin-menu, #admin-menu .dropdown {
  z-index: 100000;
}
#admin-menu .dropdown a {
  color: #ffffff;
}
.sticky-wrapper.is-sticky {
  z-index: 9988 !important;
}

/* ELMSLN app.css conflicts w/ menu items */
.etb-modal-icons {
  height: 3rem;
}
#block-cis-lmsless-cis-lmsless-network-nav-modal .etb-modal-icons {
  margin-top: .5rem;
  margin-right: 1rem;
}

/* ELMSLN Materialize modal tweaks */
.elmsln-modal-title-wrapper {
  height: 2.5rem;
  padding: 2rem 0;
  border-bottom-style: solid;
  border-bottom-width: .2rem;
}
.elmsln-modal-title {
  margin: 0;
  width: 100%;
}
.elmsln-modal-content {
  padding: 2rem;
}
.side-nav .elmsln-modal-content {
 padding: 0;
}
.elmsln-modal .close-reveal-modal {
  color: #4c4c4c;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  line-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 2rem 0.25rem;
}

.elmsln-modal .close-reveal-side-nav {
  color: #4c4c4c;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  line-height: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 2rem 0.25rem;
}

.elmsln-modal.side-nav {
  z-index: 10001;
}
.elmsln-modal.modal {
  z-index: 10002 !important;
}
.elmsln-modal-hidden {
  display: none;
}

/* Materialize scrollspy */
#scrollspy-nav {
  display: none;
}
#scrollspy-nav li.scrollspy-depth-1 {
}
#scrollspy-nav li.scrollspy-depth-2 {
}
#scrollspy-nav li.scrollspy-depth-3 {
  padding-left:.2rem;
}
#scrollspy-nav li.scrollspy-depth-4 {
  padding-left:.5rem;
}

#scrollspy-nav .scrollspy-link.active {
  border-left: unset;
  border-left-style: solid;
  border-left-width: .1rem;
  padding: 0 0 0 .1rem;
}
.table-of-contents li {
  padding: 0;
}
.table-of-contents a {
  line-height: 2rem;
  height: 2rem;
  outline: none;
  padding: 0 0 0 .1rem;
  width: 100%;
  font-size: 1rem;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table-of-contents a.active {
  color:unset;
  font-size: 1rem;
}
#scrollspy-nav a:hover {
  border-left: unset;
  border-left-style: solid;
  border-left-width: .2rem;
}
/* structure in media */
.scrollspy-toc .table-of-contents {
  max-height: 65vh;
  min-width: 10rem;
  overflow-y: scroll;
  width: calc(50vw - 52%);
  max-width: 30em;
  margin: 0;
}
/* structure in mooc */
.scrollspy-toc.table-of-contents {
  margin: 0;
  max-height: 65vh;
  min-width: 10rem;
  max-width: 16rem;
  overflow-y: scroll;
  width: 100%;
  border-bottom-width: .1rem;
  border-bottom-style: solid;
}
@media screen and (min-width: 80rem) {
  #scrollspy-nav {
    position: absolute !important;
    left: 100%;
    width: calc(52vw - 52%);
    max-width: 14em;
    min-width: 8rem;
    display: block;
    max-height: 65vh;
    overflow-y: scroll;
  }
}

/* fix for Drupal checkboxes that don't have a label in material */
div.form-type-checkbox :last-child {
  position: relative;
  opacity:1;
  left:auto;
}

#block-cis-shortcodes-cis-shortcodes-block-nav-modal {
  bottom:10%;
}

#block-speedreader-speedreader-block-nav-modal .controls a,
#block-speedreader-speedreader-block-nav-modal .controls i  {
  font-size: 5rem;
  line-height: 5rem;
  margin: 0;
  padding: 0;
  height: 5rem;
  width: 5rem;
}
.spritz-word {
  font-size: 5rem;
  line-height: 8rem;
  height: 10rem;
  overflow: hidden;
}
.spritz {
  font-size: 5rem;
  line-height: 10rem;
  height: 10rem;
  overflow: hidden;
  margin: 1rem;
}
#spritz_progress {
  height: .5rem;
}
.a11y-invert .etb-modal-icons,
.a11y-invert .etb-icons {
  background-color: #FFFF00 !important;
}
.a11y-invert .f-dropdown--classic li a {
  color: #FFFFFF !important;
}

/* ELMSLN Materialize action button tweaks */
.elmsln-fixed-action-btn {
  z-index: 10000;
}
.elmsln-fixed-action-btn ul {
  left: initial;
}
.elmsln-fixed-action-btn ul li {
  margin-bottom: 0.5rem;
}

.elmsln-btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 6rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0 0 0.25rem;
  background-color: #26a69a;
  border-radius: .25rem;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
  font-size: .5rem;
}

a.elmsln-btn-floating:hover {
  color:#ffee58;
}

.elmsln-btn-floating i {
  width: initial;
  font-size: 1rem;
  line-height: 2rem;
}

.elmsln-btn-floating i.left {
  margin-right:0;
}

/* left and right minor drop shadows to reflect direction */
.page-previous.elmsln-z-depth-0 {
  box-shadow: -1px 1px 1px 0px rgba(0,0,0,0.12);
}
.page-next.elmsln-z-depth-0 {
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.12);
}

/* Sticky footer from MaterializeCSS */
body {
  display: -webkit-flex; /* Safari */
  display: -ms-flex; /* IE 10 */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  max-width: 100% !important;
  overflow-x: hidden;
}
/* ensure iframes still resize correctly */
body.entity-iframe-theme {
  display: block;
  min-height: initial;
}

main {
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto; /* Safari 6.1+ */
  -ms-flex: 1 0 auto; /* IE 10 */
  background-color: #ffffff;
  z-index: 1;
}

main li a {
  height: 2.5rem;
  line-height: 2.5rem;
}
.vertical-tabs ul.vertical-tabs-list li a {
  height: auto;
  line-height: auto;
}

footer.page-footer{
  background-color: #f5f5f5;
  padding: 1rem;
  margin-top:1rem;
  margin-bottom: -1rem;
  border-top-width: .25rem;
  border-top-style: solid;
  text-align: center;}
  footer.page-footer p {
    font-size: 1rem;
    margin: 0;
    line-height: 2rem;}
  footer.page-footer a {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1rem;
    color:#000000;}

/* undo core error message conflict */
div.error {
  background-image: initial;
}

/* ELMSLN card - variation of materializeCSS card */
.elmsln-card .card .card-content .card-title {
  line-height: 1.4rem;
  font-size: 1.2rem;
}
.elmsln-card .card .card-title {
  line-height: 1.4rem;
  font-size: 1.2rem;
}
.elmsln-card .carousel.carousel-slider {
  height: 200px !important;
}
.elmsln-card .carousel .indicators {
  background-color: #ffffff;
  opacity: .4;
}
.elmsln-card .carousel .indicators:hover {
  opacity: .8;
}
.elmsln-card .carousel .indicators .indicator-item {
  background-color: #2196F3 !important;
  margin: .5rem .25rem 1.25rem .25rem;
  height: .5rem;
  width: .5rem;
}
.elmsln-card  .carousel .indicators .indicator-item:hover {
  background-color: #ff9621 !important;
}

.elmsln-card  .carousel .indicators .indicator-item.active {
  background-color: #ff9621 !important;
}

.elmsln-no-preview-item {
  height: 240px;
  width: 300px;
  text-align: center;
  line-height: 240px;
}

.elmsln-card-title {
  max-width: 80%;
  display: inline-block;
}

.elmsln-card ul.collection {
  zoom: 0.9;
  margin: 0;
  font-size: 0.8rem;
}

.elmsln-card span.label {
  font-weight: bold;
}

.elmsln-card .tags {
  zoom:0.75;
}
.elmsln-card .tags .field-name-field-tagging {
  display: inline;
}
.elmsln-card .tags .field-name-field-tagging .links{
  margin:0;
}

/* media elements */
.elmsln-image-gallery-wrapper {
  margin: 1rem 0 1.5rem;
}
.elmsln-gallery-image {
  margin-top: 1rem;
}
.elmsln-gallery-image a {
  float: left;
}
.image--parallax {
  align-items: initial;
}
.carousel.carousel-slider {
height: 400px;
}

/* chosen select support */
select.chosen {
  display: initial;
}

.cke_dialog_body select {
  display:initial;
}

/* accessibility */
.imagelightbox__close {
  color:#002a65;
  background-color:#bdbdbd;
}

cite, .image__cite, .image--lightboxed__cite {
  color:#4c4c4c;
  font-size: .8rem;
  max-width: 100%;
}

cite p, .image__cite p, .image--lightboxed__cite p {
  font-size: .8rem;
  max-width: 100%;
}

div.read-time-wrapper div.chip i {
  padding-right:.5rem;
  line-height: inherit;
}

/* form usability */
@media screen and (min-width: 85rem) {
  form.node-form div.field-group-htabs-wrapper.group-settings {
    position: absolute !important;
    left: 100%;
    width: calc(50vw - 51%);
    top: 0;
    max-width: 30em;
    display: block;
    height: 100%;
    overflow-y: scroll;
  }
}
form.node-form div.field-group-htabs-wrapper.group-settings legend + .fieldset-wrapper {
  padding: .2rem;
}
form.node-form div.field-group-htabs-wrapper.group-settings .image-widget-data div {
  clear:both;
}
form.node-form div.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li {
  padding: 0;
  min-width: unset;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0 auto;
  width: 25%;
  background-color: #000000;
}
form.node-form div.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li.selected {
  background-color: #FFFFFF;
}
form.node-form div.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li a {
  padding: .2rem;
  color: #FFFFFF;
  transition: unset;
  border-bottom: none;
}
form.node-form div.field-group-htabs-wrapper .horizontal-tabs ul.horizontal-tabs-list li a:hover {
  color:#000000;
  background-color: #F5F5F5;
}
form.node-form div.field-group-htabs-wrapper fieldset.field-group-htab {
  padding: 0;
  margin: 0;
}
.form-item-field-instructional-significance-und .dropdown-content li > a,
.form-item-field-instructional-significance-und .dropdown-content li > span {
  line-height: 1.5rem;
  color: #000000;
}
.form-item-field-instructional-significance-und .dropdown-content li img {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  vertical-align: middle;
  margin: 0 .5rem 0 0;
}
#page-accessibility-menu {
  bottom:10%;
}

/* Scroll bar for breadcrumb nav that's really really long */
.elmsln-scroll-bar {
  overflow-y: scroll;
}

.elmsln-scroll-bar {
  scrollbar-face-color: #DDDDDD;
  scrollbar-shadow-color: #BBBBBB;
  scrollbar-highlight-color:#AAAAAA;
  scrollbar-3dlight-color: #AAAAAA;
  scrollbar-darkshadow-color: #BBBBBB;
  scrollbar-track-color: #AAAAAA;
  scrollbar-arrow-color: #BBBBBB;
}
.elmsln-scroll-bar::-webkit-scrollbar-track {
      background-color: #DDDDDD;
} /* the new scrollbar will have a flat appearance with the set background color */

.elmsln-scroll-bar::-webkit-scrollbar-thumb {
      background-color: #AAAAAA;
} /* this will style the thumb, ignoring the track */

.elmsln-scroll-bar::-webkit-scrollbar-button {
      background-color: #DDDDDD;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

.elmsln-scroll-bar::-webkit-scrollbar-corner {
      background-color: #DDDDDD;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner*/

.elmsln-scroll-bar::-webkit-scrollbar {
      width: .5rem;
      height: .5rem;
} /* this targets the default scrollbar (compulsory) */

/* end scroll bar styling */

#edit-body .cke_chrome {
  border-top: 0;
  border-bottom: 0;
}

.cke_bottom {
  z-index: 1;
}
.ckeditor-edit-body {
  padding: 0 1rem;
  margin: 0;
}

article,
article p,
article div,
article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
.ckeditor-edit-body,
.ckeditor-edit-body p,
.ckeditor-edit-body div,
.ckeditor-edit-body h1,
.ckeditor-edit-body h2,
.ckeditor-edit-body h3,
.ckeditor-edit-body h4,
.ckeditor-edit-body h5,
.ckeditor-edit-body h6 {
  font-size: 1.3rem;
}

.text-largest {
  font-size: 1.7rem !important;
}
.text-larger {
  font-size: 1.5rem !important;
}
.text-smaller {
  font-size: 1.0rem !important;
}
.text-smallest {
  font-size: .8rem !important;
}

article p:not([class]),
article p.elmsln-core-in-context,
.ckeditor-edit-body p:not([class]),
.ckeditor-edit-body p.elmsln-core-in-context {
  max-width: 85%;
}
article div div div p,
cite p,
article div div div p.elmsln-core-in-context,
.ckeditor-edit-body div p,
.ckeditor-edit-body div p.elmsln-core-in-context{
  max-width: 100%;
}
@media (max-width: 50rem) {
  article p:not([class]),
  article p.elmsln-core-in-context,
  .ckeditor-edit-body p:not([class]),
  .ckeditor-edit-body p.elmsln-core-in-context {
    max-width: 100%;
  }
}
/* ELMSLN bullets */
article.node div.body ul li,
.ckeditor-edit-body.node div.body ul li {
  list-style-type: initial;
}
.custom-contextual-links ul.contextual-links li {
  list-style-type: none !important;
}

/* helps clean up form defaults */
div.image-widget-data {
  float: none;
}

/* Materialize select lists */
ul.dropdown-content.select-dropdown {
  margin: 0;
  z-index: 9999;
}
input:not([type])[disabled], input:not([type])[readonly], fieldset[disabled] input:not([type]), input[type="text"][disabled], input[type="text"][readonly], fieldset[disabled] input[type="text"], input[type="password"][disabled], input[type="password"][readonly], fieldset[disabled] input[type="password"], input[type="date"][disabled], input[type="date"][readonly], fieldset[disabled] input[type="date"], input[type="datetime"][disabled], input[type="datetime"][readonly], fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], input[type="datetime-local"][readonly], fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], input[type="month"][readonly], fieldset[disabled] input[type="month"], input[type="week"][disabled], input[type="week"][readonly], fieldset[disabled] input[type="week"], input[type="email"][disabled], input[type="email"][readonly], fieldset[disabled] input[type="email"], input[type="number"][disabled], input[type="number"][readonly], fieldset[disabled] input[type="number"], input[type="search"][disabled], input[type="search"][readonly], fieldset[disabled] input[type="search"], input[type="tel"][disabled], input[type="tel"][readonly], fieldset[disabled] input[type="tel"], input[type="time"][disabled], input[type="time"][readonly], fieldset[disabled] input[type="time"], input[type="url"][disabled], input[type="url"][readonly], fieldset[disabled] input[type="url"], input[type="color"][disabled], input[type="color"][readonly], fieldset[disabled] input[type="color"], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
  background-color: initial;
}

#etb-course-nav nav {
  box-shadow:none;
}

.imagelightbox {
  background-color: #FFFFFF;
}

.jwerty-key-outline i {
  opacity: .4 !important;
}

#od_popup table input[type="radio"]:not(:checked), #od_popup table input[type="radio"]:checked {
  position: relative;
  opacity:1;
  left:auto;
}

.a11y-contrast [type="checkbox"]:checked {
  position: fixed;
}

.alert-box {
  border-style: solid;
  border-width: .2rem;
  margin: 0;
  padding: .5rem;
  line-height: 1.5rem;
  border-radius: 0;
  height: auto;
}

.alert-box.success {
  background-color:#96d5b0;
  color:#222222;
  border-color: #00843b;
}
.alert-box.success a {
  color:#282828;
}

.confirm-parent, .password-parent {
  width: inherit;
}
.password-strength {
  width: inherit;
}

a.add-menu-drop {
  float: left;
  margin-right: 2rem !important;
}

.filter-guidelines,
.filter-help {
  display:none;
}
#help p {
  font-size: 13px;
}

.horizontal-tabs ul.horizontal-tabs-list a {
  font-size: .75rem;
}
.horizontal-tabs ul.horizontal-tabs-list .summary {
  display:none;
}

#etb-course-nav {
  margin: 0;
  border-bottom: none;
  border-top-width: .2rem;
  border-top-style: solid;
  z-index: 1;
}

#etb-course-nav span.course-title,
#etb-course-nav span.course-abrv {
  justify-content: flex-end;
  color:#424242;
}

.ferpa-privacy-blur {
  filter: blur(6px);
  /* Webkit */
  -webkit-filter: blur(6px);
  /* Opera */
  -o-filter: blur(6px);
  opacity: .4;
}

.ferpa-privacy-blur:hover {
  border: 1px solid #FF0000;
}

.cke_contents {
  border: 1px solid #ccc !important;
  padding: .5rem !important;
}

.r-header__icon i {
  opacity: 0.5;
}
.r-header__icon i:hover {
  opacity: 0.8;
}
.r-header__icon-secondary {
  opacity: 0.2;
}
.r-header__icon-secondary:hover {
  opacity: 0.8;
}
.r-header__icon.fa-action-disabled {
  opacity: 0.1;
}

#backtotop {
  background: url(../legacy/img/backtotop.png) no-repeat center center;
  z-index: 1000;
  right: 0;
  bottom: 0;
  width: 3rem;
  height: 2rem;
}

ul.header-menu-options {
  padding: 0;
  max-width: 100%;
  margin: 0;
  font-size: 1rem;
}
ul.header-menu-options li a {
  padding: .5rem .5rem;
  margin: 0;
}
ul.header-menu-options li {
  float:left;
  margin: 0;
  list-style: none;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
ul.header-menu-options li {
  border-bottom: 1px solid #333333;
}
ul.header-menu-options li.active-trail {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  border-top: 1px solid #333333;
  border-bottom: transparent;
}

.r-header ul.header-menu-options li.active-trail {
  background-color: #eeeeee;
}
.r-header ul.header-menu-options li:hover {
  background-color: #eeeeee;
}

.r-local-header ul.header-menu-options{
  font-size: .9rem;
}
.r-local-header ul.header-menu-options li.active-trail {
  background-color: #eeeeff;
}
.r-local-header ul.header-menu-options li:hover {
  background-color: #eeeeff;
}

.r-local-subheader ul.header-menu-options{
  font-size: .8rem;
}
.r-local-subheader ul.header-menu-options li.active-trail {
  background-color: #ddddff;
}
.r-local-subheader ul.header-menu-options li:hover {
  background-color: #ddddff;
}

.cis-admin-area {
  background-color: #5CB61F;
}
.user-nav-masquerade {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.user-nav-masquerade span {
  color: #333333;
  font-weight: bold;
}
.user-nav-masquerade div {
  padding: .25rem;
}
.user-nav-user-roles {
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

.entity_iframe_tool_icor {
  border: 2px solid #eeeeee;
 }

.view-foundation-access-header {
  width: 100%;
}

.region-header {
  background-position: center;
  background-size: 100rem;
  z-index: 1;
  width: 100%;
  background-attachment: fixed;
}
.region-header img {
  width: 100%;
  background-attachment: fixed;
}

#page-title {
  color: #222222;
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding: 0;
  margin: 0 0 0.5rem 0;
  text-align: left;
  text-transform: none;
  padding-left: 0;
  text-overflow: ellipsis;
  max-width: 80%;
}

.read-time {
  float: right;
  margin-top:-3.5rem;
}
.read-time .chip {
  min-width: 4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2rem;
  padding: 0 .75rem;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.highlighted-block-area .read-time {
  float: none;
  margin: 0;
}
.collapsible-body .read-time {
  float: none;
  margin-top: 0;
}
.etb-book h2 {
  font-size: 2.25rem;
  font-weight: bold;
  padding: 0;
  color: #222222;
}

.etb-book h3 {
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0;
  color: #222222;
}

.etb-book h4 {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0;
  color: #222222;
}

/* inline flex support in browsers that don't support it currently */
.toolbar-menu-icon,
.content-outline-navigation h2,
.content-outline-navigation h3,
ul.off-canvas-list .left-submenu li.back {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media all and (min-width: 720px) {
  .form-actions.form-wrapper {
    position: fixed;
    bottom: 0;
    background: #fff;
    border-top: 1px solid #CCCCCC;
    width: 100%;
    left: 0;
    padding: 1rem 1rem 0px;
    margin: 0;
    z-index: 999;
  }
}
/* MaterializeCSS overrides to make Drupal / Zurb markup happy*/
a {
  color: #0052c1;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

table th.active {
  background: #607D8B;
  color: #fff;
}

table tr.selected td.active,
table tr.selected td {
  background: #ECEFF1;
}

table th {
  background: #E0E0E0;
}

tr.even:hover, tr.odd:hover {
  background: #cfd8dc;
}

.marker,
.form-required {
  color: #a92500;
}

td .marker {
  position: relative;
  top: 0.5em;
  vertical-align: top;
}

table.tableheader-processed {
  border: 1px solid #E0E0E0;
}

tr.even,
tr.odd {
    background: #FFF;
}

.region-messeges ul {
  list-style-type: none;
}

div.region-messeges ul li {
  font-size: 1rem;
  padding-bottom: 0.5em;
  height: auto;
}

div.region-messeges ul.krumo-node {
  margin : 0;
}

div.region-messeges ul.krumo-node li {
  font-size: .8rem;
  padding-bottom: 0;
}

div.region-messeges ul li .krumo-nest {
  margin-left: 1rem;
}

div.warning {
  background-color: #fff3e0;
  border: none;
  border-radius: 3px;
  background-position: 14px 50%;
}

 div.status {
  background-color: #E8F5E9;
  border: none;
  border-radius: 3px;
  background-position: 14px 50%;
}

.header-menu-options ul li.active a,
.header-menu-options ul li.active a.active,
.header-menu-options ul li.active a:active,
.header-menu-options ul li.active a:visited {
  margin-top: 0px;
  border-top: none;
}

.header-menu-options ul li {
  text-transform: uppercase;
}
.breadcrumb-wrapper {
  margin-bottom: 0;
}

.breadcrumb a {
  color: #A3A3A3;
}

.breadcrumb a:hover {
  color: #fff;
}

.header-menu-options ul li.active a,
.header-menu-options ul li.active a.active,
.header-menu-options ul li.active a:active,
.header-menu-options ul li.active a:visited {
  box-shadow: none;
  background-color: transparent;
  color: #000;
}

.header-menu-options ul {
  background-color: #EEEEEE;
}

ul.action-links a,
ul.post-links a {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  background: #2196f3;
  color: #FFFFFF;
  padding: 3px 20px 2px;
  border-radius: 3px;
  display: inline-block;
}

ul.action-links a:hover,
ul.post-links a:hover {
  background: #29B6F6;
  text-decoration: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.45);
}


#page .operations a {
  text-transform: uppercase;
}

legend + .fieldset-wrapper {
  padding: 1rem;
}

.fieldset-description {
  padding: 1rem 0;
  color: #222222;
}

.text-format-wrapper fieldset.filter-wrapper {
  box-shadow: none;
  border: none;
  border-top: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.horizontal-tabs-panes fieldset.horizontal-tabs-pane {
  box-shadow: none;
}

fieldset {
  padding: 0;
}

fieldset legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.features-export-parent fieldset legend {
  top: 0;
}

.header-menu-options ul {
  overflow: hidden;
}


table th {
  font-size: 16px;
  font-weight: 400;
}

table tr.add-new,
table tr.add-new:hover {
  background-color: #cfd8dc;
}

table tbody td a {
  padding: .5em .75em;
  border-radius: 3px;
  vertical-align: middle;
}

table tbody td a:hover {
  text-decoration: underline;
}

/* Buttons */

/* Gray Button */
button[type="submit"],
button.form-submit,
a.button,
div.exposed-filters button#edit-submit {
  cursor: pointer;
  background: #145650;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.077em;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
  transition: all, 0.3s;
}

/* Green Button */
i.zmdi-save {
 color: #225c35;
}
button[type="submit"][id^="edit-submit"],
button#edit-actions-submit,
button[id^="save-continue"],
button[type="submit"][id^="edit-save"],
button#edit-save,
button#edit-submit,
button#edit-addanother,
button#edit-actions-save {
  cursor: pointer;
  border: none;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  background: #225c35;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
}

/* Red Button */
button#edit-delete,
button#remove-button,
button#edit-remove,
button#edit-clear,
a.button.remove,
button[id*="remove-button"],
.page-node-delete button#edit-submit {
  cursor: pointer;
  border: none;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  background: #D32F2F;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
  transition: all, 0.3s;
}

/* Blue Button */
button#edit-preview-changes,
button#edit-next,
button#preview-submit,
button[type="submit"][id^="edit-return"] {
  cursor: pointer;
  border: none;
  color: #fff;
  text-align: center;
  font-weight: normal;
  font-size: 1.077em;
  background: #0074BD;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.2rem;
  transition: all, 0.3s;
}

div.horizontal-tabs ul li.horizontal-tab-button strong {
  font-size: 13px;
}

.form-actions input,
.form-actions button {
  margin-right: 1rem;
}

.figurelabel {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.figurelabel__title {
  white-space: nowrap;
}

.page-user .field-name-field-photo {
  float: left;
  margin-right: 20px;
}
.page-user .field-name-field-photo img {
  border-radius: 50%;
  width: 120px;
}
.page-user .field-name-field-first-name {
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  font-size: 5vw;
  font-weight: 100;
  float: left;
}
.page-user .field-name-field-last-name {
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  font-size: 5vw;
  font-weight: 100;
  float: left;
}
.field-name-field-bio {
  clear:  both;
  padding: 30px;
}
